/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500;700&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 10px 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

h2 {
  padding: 2rem 0 1rem 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #005da3;
  margin: 0;
}


@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 48px;
    line-height: 72px;
  }
  
  h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  
  h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #005da3;
  }
  
}




